*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 1px solid red;
}
body{
    height: 100vh;
    background-color: skyblue;
}
.game-box{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.plane-x{
    width: 100vw;
    height: 90%;
    position: relative;
}
.ground{
    width: 100vw;
    height: 10%;
    background-color: sandybrown;
}
.plane-y{
    width: 50px;
    height: 100%;
    left: 250px;
    position: absolute;
    overflow: none;
}
.pipe-column{
    height: 100%;
    width: 75px;
    /* left: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 230px;
    background-color: skyblue;
    outline: none;
    position: absolute;
}
.pipe-top, .pipe-bottom{
    background-color: orange;
    width: 100%;
    height: 50px;
}
.pipe-top{
    height: 50%;
}
.pipe-bottom{
    flex: auto;
}
.bird{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: red;
    position: absolute;
    z-index: 10;
    /* transition: top 0.1s; */
}